
* {
  box-sizing: border-box;
}

body {
  /* https://coolors.co/937b63-141516-f2f4f6-27293e-f3b61f */
  --color1: #937b63;
  --color2: #141516;
  --color3: #f2f4f6;
  --color4: #27293e;
  --color5: #f3b61f;


  --nav-background-color: var(--color5);
  --nav-color: var(--color2);
  --body-bg: #fff;
  --body-color: var(--color2);

  --font-body: "Roboto";
  --font-headings: "Roboto Slab";
  --font-monospace: "Roboto Mono";

  --border-color: #ddd;

  --button-color: #fff;
  --button-bg: var(--color4);
  --button-border: var(--button-bg);
  --button-bg--hover: var(--color2);

  --link-color: var(--color1);
  --link-color--hover: var(--color4);

  --label-bg: var(--color3);
  --label-color: #888;

  background-color: var(--body-bg);
  margin: 0;
  font-size: 14px;
  line-height: 1.5;
  color: var(--body-color);
  font-family: var(--font-body), Roboto, -apple-system, BlinkMacSystemFont, Segoe UI, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

body.dark-theme {
   /* only partially complete */
  --nav-background-color: #0a1217;
  --nav-color: #a1a1a1;
  --body-bg: #142731;
  --body-color: #c6c6c6;
  --font-body: "Roboto";
  --font-headings: "Roboto Slab";
  --font-monospace: "Roboto Mono";
  --border-color: #1c3541;
  --button-color: #a9a9a9;
  --button-bg: #000000;
  --button-border: #000000;
  --button-bg--hover: var(--color2);
  --link-color: #5b92aa;
  --link-color--hover: #3b9d8f;
  --label-bg: #000000;
  --label-color: #888;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0 0 0em 0;
  font-weight: 400;
  line-height: 1.2;
  font-family: var(--font-headings, "Roboto");
}

h1 {
  font-size: 2em;
}

a {
  color: inherit;
  text-decoration: none;
}

a:link, a[href] {
  color: var(--link-color);
  text-decoration: underline;
}

a:link:hover,
a[href]:hover {
  color: var(--link-color--hover);
}

input,
textarea,
select {
  background: transparent;
  border: 1px solid var(--border-color);
  color: var(--body-color);
}

label {
  font-weight: 600;
}

button {
  background: var(--button-bg);
  border: 1px solid var(--button-border);
  color: var(--button-color);
  padding: 0.25em 1em;
  border-radius: 3px;
  cursor: pointer;
}

button:hover {
  background-color: var(--button-bg--hover);
  border: 1px solid var(--button-border);
}

button[disabled] {
  background-color: var(--color3);
  border: 1px solid var(--color3);
  color: #888;
  cursor: not-allowed;
}

code {
  font-family: var(--font-monospace), menlo, inconsolata, monospace;
  font-size: calc(1em - 2px);
  color: #555;
  background-color: #f0f0f0;
  padding: 0.2em 0.4em;
  border-radius: 2px;
}

@media (min-width: 400px) {
  body {
    font-size: 16px;
  }
}

.measurement {
  display: inline-block;
  background-color: var(--label-bg);
  font-size: 0.75em;
  padding: 0.25em 0.5em;
  border-radius: 6px;
  color: var(--label-color);
  margin: auto 0.5rem;
  font-weight: 400;
}